@model AnswerDetail
@{
    
}
<div class="choice-question-content">
    @foreach (var choice in Model.QuestionDetail.Choices)
    {
        var answer = Model.Choices.FirstOrDefault(s => s == choice.ChoiceId);
        var value = answer!=null;
        <div class="col-md-4 choice-question">
            <div class="@(Model.QuestionDetail.IsSingleChoice ? "radio" : "checkbox") i-checks" data-id="@choice.ChoiceId">
                <label>
                    @(Model.QuestionDetail.IsSingleChoice ?
                          Html.RadioButton("choice-answer-box-" + Model.QuestionDetailId, choice.ChoiceId, value, new {@class = "form-control"}) :
                          Html.CheckBox("choice-answer-box-" + Model.QuestionDetailId, value, new {@class = "form-control"}))
                    <img class=" choice-content" src="@choice.Content"/>
                </label>
            </div>
        </div>
    }
</div>
