@model QuestionDetail
<div class="slider-preview">
    <div class="answers answer-sliders">
        <div class="slider-content">
            @Html.TextBox("answer", 0, new { @class = "answer-slider", type = "text", data_slider_min = Model.SliderLimit.Min, data_slider_max = Model.SliderLimit.Max, data_slider_step = Model.SliderLimit.Step, data_slider_value = Model.SliderLimit.Min })
        </div>
    </div>
    <div class="col-md-12">
        <label class="control-label">Giá trị hiện tại: </label>
        <label class="currentValue">@Model.SliderLimit.Min</label>
    </div>
</div>