<div class="col-sm-6">
    <h2>@ViewBag.Title</h2>
    @*<ol class="breadcrumb">
        <li>
            @Html.ActionLink("Cheap Deal", "Index")
        </li>
        <li class="active">
            <strong>Dashboard</strong>
        </li>
    </ol>*@
</div>

@*<div class="col-sm-6">
    <div class="title-action">
        @Html.ActionLink("Trang chủ", "Index",
         "Dashboard", new {@class = "btn btn-primary"})
    </div>
</div>*@