
@section pluginStyles
{
    <link href="~/Content/bootstrap-treeview.css" rel="stylesheet"/>
    <link href="~/Content/custom/file.css" rel="stylesheet"/>
}
<a class="btn btn-primary" id="mediasForm"></a>

@Html.Partial("_MediaForm")

@section pluginScripts
{
    <script src="~/Scripts/bootstrap-treeview.js"></script>
}

@section scripts
{
<script src="~/Scripts/custom/file.js"></script>
    <script>
        $(function() {
            $("#mediasForm").showPictureForm();
        });
    </script>
}
