@model QuestionDetail
@{
    Model.Choices = Model.Choices.OrderBy(s => s.OrderNo).ToList();
}
<li class="dd-item dd3-item questions" data-type="ChoiceMedia" data-id="0">
    <div class="pull-right m-r-md m-t-sm">
        <a href="#" class="question-remove"><i class="fa fa-close"></i></a>
    </div>
    <div class="dd-handle dd3-handle question-type">Choice Media</div>
    <div class="dd3-content question-border">
        <div class="row">
            <div class="col-md-12">
                <div class="form-horizontal">
                    <div class="form-group quetion-control">
                        <div class="col-md-12">
                            <div class="description-content">
                                @Html.TextArea("QuestionTitle-" + Model.OrderNo, Model.QuestionTitle, new { @class = "form-control description", placeholder = "Nhập nội dung câu hỏi" })
                            </div>
                            <span class="field-validation-valid text-danger question-title-error"></span>
                        </div>
                    </div>
                    <div class="form-group  quetion-control">
                        <div class="answers file-content choice-media-content">
                            <span class="field-validation-valid text-danger question-answers-error "></span>
                            @foreach (var choice in Model.Choices)
                            {
                                <div class="file-box question-answer choice-media-box">
                                    @Html.Hidden("choiceId", choice.ChoiceId)
                                    <div class="file ">
                                        <div class="pull-right m-r-md">
                                            <a href="#" class="remove-answer-choice-media"><i class="fa fa-close"></i></a>
                                        </div>
                                        <img alt="image" class='image img-responsive answer-choice-media-img@(choice.IsCorrect?" selected":"")'src="@choice.Content">
                                    </div>
                                </div>
                            }
                        </div>
                        <div class="col-md-12 question-answer">
                            <a class="button btn btn-primary add-choice-media-answer" data-id="@Model.Choices.Count">
                                <i class="fa fa-plus-circle"></i> Thêm đáp án
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</li>


