@model QuestionDetail
<li class="dd-item dd3-item questions" data-type="Upload">
    <div class="pull-right m-r-md m-t-sm">
        <a href="#" class="question-remove"><i class="fa fa-close"></i></a>
    </div>
    <div class="dd-handle dd3-handle question-type">Upload</div>
    <div class="dd3-content question-border">
        <div class="row">
            <div class="col-md-12">
                <div class="form-horizontal">
                    <div class="form-group quetion-control">
                        <div class="col-md-12">
                            @Html.HiddenFor(s => s.QuestionDetailId, new {@class = "questionId"})
                            @Html.TextAreaFor(s => s.QuestionTitle, new {@class = "form-control description", placeholder = "Nhập nội dung câu hỏi"})
                            <span class="field-validation-valid text-danger question-title-error"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</li>
