@{
    var groups = new List<Group>();
}


<div class="modal inmodal" id="choiceQuestionForm" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated fadeInUp">
            <div class="modal-body" style="min-height: 450px;">
                @Html.Partial("_QuestionChoiceForm",groups)
            </div>
            <div class="modal-footer">
                <div class="col-md-3" style="text-align: left">
                    <div class="col-md-6"><input type="number" class="form-control" min="0" id="randomNo" /></div>
                    <div class="col-md-6">
                        <button type="button" class="btn btn-primary" id="randomButton">Chọn ngẫu nhiên</button>
                    </div>
                </div>
                
                
                <button type="button" class="btn btn-success" id="saveButton" style="margin: 5px">Lưu</button>
                <button type="button" class="btn btn-danger" id="closeButton" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>
