@{
    var groups = new List<Group>();
}


<div class="modal inmodal" id="choiceQuestionForm" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated fadeInUp">
            <div class="modal-header">
                <h3>Chọn câu hỏi</h3>
            </div>
            <div class="modal-body" style="min-height: 450px;">
                @Html.Partial("_QuestionChoiceForm", groups)
            </div>
            <div class="modal-footer">
                <div class="col-md-3" style="text-align: left">
                    <div class="col-md-6"><input type="number" class="form-control" min="0" id="randomNo"/>
                    </div>
                    <div class="col-md-6">
                        <button type="button" class="btn btn-primary" id="randomButton">Chọn ngẫu nhiên</button>
                    </div>
                </div>


                <button type="button" class="btn btn-success" id="saveButton" style="margin: 5px">Lưu</button>
                <button type="button" class="btn btn-danger" id="closeButton" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

<a class="hidden" id="showScoreForm" data-toggle="modal" data-target="#scoreQuestionForm"></a>
<div class="modal inmodal" id="scoreQuestionForm" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated fadeInUp">
            <div class="modal-body">
                <div id="questionDetailList">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Danh sách bài kiểm tra</h5>
                            <div class="ibox-tools">
                                <button class="btn btn-primary btn-xs" id="divideDetailScore">Tổng điểm: <span id="testScorePopup"></span></button>
                            </div>
                        </div>
                        <div class="ibox-content p-sm">
                            <table id="tblTests" class="table table-responsive table-bordered table-hover tbldata">
                                <tr>
                                    <td>
                                        Câu 1
                                    </td>
                                    <td>
                                        <input class="form-control" name="detailScore" type="number" min="0" value="0">
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="saveScoreButton" style="margin: 5px">Lưu</button>
                <button type="button" class="btn btn-danger" id="closeScoreButton" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>
