<div class="row">
    <div class="col-md-3 form-header">
        <div class="question-no">Đã chọn <span id="QuestionNo">0</span> câu.</div>
        <div id="treeviewGroups"></div>
    </div>
    <div class="col-md-9 form-body">
        <div id="questionDiv">
            <table id="questionTable" class="table table-responsive table-bordered table-hover">
                <thead>
                <tr>
                    <th class="hidden">Id</th>
                    <th>Tiêu đề</th>
                    <th class="hidden">Nhóm</th>
                    <th class="hidden">Câu hỏi con</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        Không có câu hỏi.
                    </td>
                    <td class="hidden">
                    </td>
                    <td class="hidden">
                    </td>
                    <td class="hidden"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
